body {
    /*background-image: url("/quiz/background.jpg");*/
    background-color:white;
    /*background-position: center center; 
    background-repeat: no-repeat;*/
    background-size: cover;
    height: 100vh;
    margin: 50px;
    margin-right: 3rem;
    margin-left: 3rem;
   }
   .container {
    font-family: 'BluuNextBold';
    font-weight: bold;
    font-style: bold;
}

#finalScore{
    font-size: 30px !important;
}

#highScoresList{
    font-size: 20px !important;
}

.button{
    font-size: 20px !important;
    background-color:#514A92  !important;
    color:white  !important; 
    margin-bottom:10px  !important;
    font-family: 'BluuNextBold'  !important;
    font-weight: bold  !important;
    font-style: bold  !important;
}